
@{
    ViewBag.Title = "Administration";
}

<h2>Login</h2>
<form method="post" action="/Admin/Anmelden/">
    <table boder="0">
        <tr>
            <td style="padding:5px;">Username</td>
            <td style="padding:5px;"><input type="text" name="user" /></td>
        </tr>
        <tr>
            <td style="padding:5px;">Passwort</td>
            <td style="padding:5px;"><input type="password" name="pass" /></td>
        </tr>
        <tr>
            <td colspan="2" style="padding:5px;"><input type="submit" value="Anmelden" /></td>
        </tr>
    </table>
</form>
