@{
    ViewBag.Title = "Datenschutz";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Datenschutz/" class="linkSecondLevel">Datenschutz</a><a href="/Home/Haftung/" class="linkSecondLevel">Haftungsausschluss</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Impressum - Datenschutz</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        

    </table>

</div>
