@{
    ViewBag.Title = "Ersatzteile";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Werkstatt/" class="linkSecondLevel">Werkstatt</a><a href="/Home/Ersatzteile/" class="linkSecondLevel">Ersatzteile</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Ersatzteile</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="~/Content/Images/schrott.jpg" align="right" style="margin-left:20px;" />Die schnelle Reparatur defekter Flurförderzeuge spart Geld. Deshalb ist die zeitnahe Beschaffung der benötigten Ersatzteile ein wichtiger Faktor für den kontinuierlichen Betriebsablauf in der Lagerlogistik. Durch kontinuierliche Wartung und regelmässigen Austausch von Verschleissteilen lassen sich Ausfallzeiten vermeiden, der Werterhalt der Investition steigt ebenso wie die Lebensdauer.<br /><br />

                Wir verbauen ausschließlich Originalteile oder Teile gleicher Qualität. Zu unserer Philosophie gehört es, so weit wie möglich mit regionalen Partnern zusammen zu arbeiten. So ist es oft möglich, Lieferzeiten und Entscheidungswege deutlich zu verkürzen.<br /><br />

                Rufen Sie uns an, hinterlassen Sie einen <a href="/Home/Kontakt/">Kontakt</a>, schreiben Sie uns eine Mail. Unser Kundenservice besucht Sie und macht eine Bestandsaufnahme auf deren Grundlage wir dann effizient reagieren können.<br /><br />
                Sollte eine Reparatur mal keinen Sinn mehr machen beraten wir Sie gerne bei der Anschaffung eines neuen oder gebrauchten Gerätes und kümmern uns um das alte.

            </td>
        </tr>

        

    </table>

</div>
