@{
    ViewBag.Title = "Ersatzteile";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Werkstatt/" class="linkSecondLevel">Werkstatt</a><a href="/Home/Ersatzteile/" class="linkSecondLevel">Ersatzteile</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Ersatzteile</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
  

    </table>

</div>
