@using HARO.Models
@model HARO.Models.GebrauchteModel
@{
    ViewBag.Title = "Gebrauchtgeräte";
}


<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Gebrauchtgeräte</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Auch wenn es in der Regel sinnvoller ist, neue statt gebrauchter Stapler einzusetzen, gibt es doch Szenarien, in denen sich ein gebrauchtes Gerät lohnt. Das trifft insbesondere zu wenn der Stapler nicht häufig benötigt wird.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Gebräuchliche Geräte in der Klasse bis 5 Tonnen haben wir sofort verfügbar vor Ort in Weilerswist. Darüber hinaus verfügen wir über ein breit gefächertes Partnernetzwerk, wodurch wir Zugriff auf Gebrauchtgeräte aller Tonnagen und Einsatzzwecke haben. Auch Umbauten nach Kundenwunsch nehmen wir vor, benötigen Sie zum Beispiel ein Drehgerät zum Kippen, müssen Ballen mit Klammern transportieren, Gitterboxen leeren. Wir sind für alle Wünsche offen.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Alle unsere Gebrauchtgeräte sind sofort lieferbar und einsatzbereit. Eventuell benötigte Ladegeräte werden natürlich mitgeliefert.
            </td>
        </tr>
    </table>
</div>

