@{
    ViewBag.Title = "HC";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">HANGCHA bei HARO Stapler</h2>
            </td>
        </tr>

        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">In Europa noch wenig etabliert zählt das 1956 gegründete Unternehmen Hangcha mit etwa 130000 produzierten Einheiten zu den 10 größten Herstellern für Flurförderzeuge auf der Welt, deckt über 10% des Weltmarktes ab. Die Geräte dieses Herstellers zeichnen sich durch Robustheit zu einem günstigen Preis aus.</td>
        </tr>

        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">In Europa noch wenig etabliert zählt das 1956 gegründete Unternehmen Hangcha mit etwa 130000 produzierten Einheiten zu den 10 größten Herstellern für Flurförderzeuge auf der Welt, deckt über 10% des Weltmarktes ab. Die Geräte dieses Herstellers zeichnen sich durch Robustheit zu einem günstigen Preis aus.</td>
        </tr>



        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Elektro-3-Rad-Stapler von HANGCHA: die kompakten Lagerhelfer</b><br />
                Belastbar bei kompakter Bauform und mit allen Vorteilen des Drehstrom-Elektroantriebs: Elektro-3-Rad-Stapler von HANGCHA vereinbaren Emissionsfreiheit mit flinker Beweglichkeit. Diese Elektrostapler sind sowohl mit Front- (Schabmüller-Antriebsmotore, ZF Getriebe mit Ölbadlamellenbremse, ZF EPS-elektrische Lenkung optional) als auch mit Heckantrieb erhältlich. Der Lastbereich liegt bei 1 bis 2 Tonnen.
            </td>
        </tr>



        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Elektro-4-Rad-Stapler von HANGCHA: die dynamischen Lastenbeweger</b><br />
                Uneingeschränkt im Außen- und  Innenbereichen einsatzbar, von überschaubarer Größe und dennoch hoch belastbar: Elektro-4-Rad-Stapler von HANGCHA stehen für geräuscharmen und effizienten Materialfluss ohne Kompromisse. Diese Elektrostapler können Lasten mit einem Gewicht von 1 bis 10t Tonnen bewegen. Eine Erweiterung der Baureihe bis 16 Tonnen wurde Ende 2019 in den Markt eingeführt.
            </td>
        </tr>



        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Gasstapler von HANGCHA: die sauberen Leistungsträger</b><br />
                Leistungsstark, mit praktisch unbegrenzter Reichweite (durch Gasflaschentausch) und auch in Hallen einsatzbar: Gasstapler von HANGCHA, mit LPG-Antrieb, schlagen die Brücke zwischen Elektrostapler und Dieselstapler. Sie sind geeignet für Lasten von 1 bis 7 Tonnen. Die Economiebaureihe X-Serie steht im Tragkraftbereich von 1,5 bie 3,5t zur Verfügung.
            </td>
        </tr>



        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Geländestapler von HANGCHA: die belastbare Allzwecklösung</b><br />
                Große Bodenfreiheit, geländegängige Staplerbereifung und starke Dieselmotoren: Die Geländestapler von HANGCHA machen so schnell vor keiner Herausforderung halt. Sie sind mit Zweirad- oder Allradantrieb (2WD / 4WD), mit und ohne Kabine erhältlich und bewältigen Gewichte von 2,5 bis 3,0 Tonnen. Geräte mit 3,5t bis 5,0t Tragkraft wurden 2019 in den Markt eingeführt.
            </td>
        </tr>



        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                HARO steht für qualitative Maschinen und exzellenten Kundenservice. Neben den hochwertigen Staplern von HC bieten wir außerdem Stapler der Marken <a href="/Home/Linde/">Linde</a>, <a href="/Home/Still/">Still</a>, <a href="/Home/Toyota/">Toyota</a>, <a href="/Home/Jungheinrich/">Jungheinrich</a>, <a href="/Home/Yale/">Yale</a>, <a href="/Home/Hyster/">Hyster</a> und vielen mehr an. Gerne beraten wir Sie persönlich oder vereinbaren einen Termin.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Kontaktieren Sie uns telefonisch unter 02254/ 60 12 94 oder für unser Service Niederlassung in Köln unter 0221/ 422 90 132. Per Mail sind wir unter info@haro-stapler.de oder direkt über unser <a href="/Home/Kontakt/">Kontaktformular</a> zu erreichen. Unseren KFZ Mechaniker Meister Armin Hack erreichen Sie direkt unter <a href="mailto:hack@haro-stapler.de">hack@haro-stapler.de</a>.
            </td>
        </tr>
    </table>

</div>

