@{
    ViewBag.Title = "Impressum";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Haftung/" class="linkSecondLevel">Haftungsausschluss</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Impressum - Verantwortlich für diese Seiten</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%">
                HARO Stapler Service e.K.<br />
                Meisterbetrieb
            </td>
            <td colspan="2" rowspan="7">
                <img src="~/Content/Images/impressum.jpg" width="100%">
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Nikolaus-August-Otto-Str. 16<br />
                53919 Weilerswist
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                +49 (0) 22 54 - 60 12 94<br />
                +49 (0) 221 422 90 132<br />
                Telefax +49 (0) 22 54 - 60 12 95
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                www.haro-stapler.de<br />
                info@haro-stapler.de
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Inhaltlich Verantwortlicher gemäss § 6 Telemediengesetz (TMG):</b><br />
                Herr Armin Hack
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Umsatzsteuer-Identifikationsnummer gemäss § 27 a Umsatzsteuergesetz:</b><br />
                USt-ID-Nr. DE812236757
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                eingetragen im Handelsregister des Amtsgerichtes Bonn,<br />
                Handelsregisternummer: HRA 9279<br />
                Sitz: Weilerswist
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Administrator</b>: Herr Kay Schlesiger
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Inhaber</b>: Herr Armin Hack, KFZ-Meister
            </td>
        </tr>

    </table>

</div>
