@{
    ViewBag.Title = "Home";
}


    <table border="0">
        <tr>
            <td valign="top">
                <div id="divInnerStartLinks">
                    <p class="headlineStart"><big><b>Herzlich Willkommen bei der HARO Gabelstapler Service e.K.!</b></big></p>
                    <br />
                    Sie suchen einen Partner für Gabelstapler und Lagertechnik? <br />
                    Einen kompetenten Dienstleister für Geräte aller Fabrikate? <br />
                    Einen Servicepartner, der im Notfall schnell vor Ort sein kann? <br />
                    Jemanden mit Erfahrung, der Ersatzteile liefern kann? <br /><br />

                    Dann sind Sie bei uns richtig. Denn an unserem Unternehmensstandort in der Nähe von Köln können Sie nicht nur Stapler mieten – wir kaufen und verkaufen, beraten Sie in Finanzierungsangelegenheit und kümmern uns auch um Reparatur und Service.<br /><br />
                    <b>Wir reparieren und warten alle Marken!</b><br /><br />
                    Ob Linde, Still, Yale, Hyster, Jungheinrich oder HC. In der Summe verfügen unsere Mitarbeiter über mehr als 50 Jahre Erfahrung in der Wartung und Reparatur von Gabelstaplern und artverwandten Förderzeugen.

                </div>
            </td>
            <td valign="top">
                <div id="divInnerStartRechts">
                    <button type="button" class="collapsible">Partner für Gabelstapler & Lagertechnik!</button>
                    <div class="content">
                        HARO steht für Beratung, Verkauf und Service aus einer Hand, wenn es um Ihr Thema Gabelstapler und Lagertechnik geht. Das Gute für Sie: Sie bekommen bei HARO Dienstleistungen für alle bekannten Marken zu besonders fairen Preisen.<br />Wir sind spezialisiert auf die Marken Hyster, Linde, Still, Jungheinrich, Toyota, Yale, HC und TCM – hier profitieren Sie von unserem besonderen Know-how.<br />Natürlich reparieren und warten wir alle Geräte und Modelle, unabhängig vom Hersteller.
                    </div>

                    <button type="button" class="collapsible">Ansprechpartner für alle Ihre Geräte, egal welcher Hersteller!</button>
                    <div class="content">
                        <p><b>Köln und Umkreis: Stapler-Reparatur vom Fachmann</b></p>
                        <p>
                            Fullservice, das bedeutet bei HARO: Sie machen Ihre Arbeit, wir kümmern uns um Wartung und Reparaturen. Egal, ob ein Teil repariert oder erneuert, ein Reifen oder eine Batterie ersetzt werden muss – wir wissen, dass es in solchen Fällen schnell gehen muss.<br /> Ein Anruf und einer unserer erfahrenen Techniker macht sich auf den Weg zu Ihnen. Natürlich führen wir auch Umbauten durch, um Ihren Stapler für Ihre Bedürfnisse zu optimieren.
                        </p>
                    </div>

                    <button type="button" class="collapsible">Ansprüche verstehen!</button>
                    <div class="content">
                        <p><b>Situationsanalyse bei Ihnen im Betrieb: Wir helfen, den optimalen Stapler zu finden</b></p>
                        <p>
                            Wir beraten Sie, welche Flurförderzeuge in Ihrem Unternehmen am effizientesten einzusetzen sind, ob Diesel-, Treibgas oder Elektroantrieb.<br />Gerne kommen unsere Mitarbeiter zu Ihnen und besprechen mit Ihnen vor Ort Ihre Situation und Ihren Bedarf. Nach der Situationsanalyse erstellen wir ein auf Ihr Unternehmen zugeschnittenes Konzept.
                        </p>
                    </div>

                    <button type="button" class="collapsible">Partner für den Notfall, schnelle Lieferung von Ersatzteilen!</button>
                    <div class="content">
                        <p><b>Übernacht-Service bei Stapler-Ersatzteilen</b></p>
                        <p>
                            Wenn Sie eine schnelle Reparatur ihres Gabelstaplers benötigen, sind wir schnell für Sie da.<br />
                            Schnell heißt bei uns auch schnell, wenn Ihr Unternehmen im Umkreis von bis zu einhundert Kilometern rund um unseren Firmensitz in Weilerswist (zwischen Köln und Bonn) liegt.<br />Bei einer Bestellung bis 15 Uhr sind Ersatzteile am nächsten Morgen bei uns vorrätig, die Reparatur ist meist innerhalb eines Tages oder kurzfristiger erledigt.
                        </p>
                    </div>

                    <button type="button" class="collapsible">Stapler mieten, finanzieren!</button>
                    <div class="content">
                        <p><b>Übernacht-Service bei Stapler-Ersatzteilen</b></p>
                        <p>
                            Wir bieten Ihnen Kauf, Miete, Finanzierung oder Fullservice individuell auf Sie zugeschnitten. HARO hat sowohl neue als auch gebrauchte Geräte in hervorragendem Zustand im Angebot.<br />Informieren Sie sich hier auf unserer Homepage oder besuchen Sie uns vor Ort! Wird ein Gerät nur vorübergehend gebraucht, empfiehlt sich, es zu mieten statt zu kaufen.<br />Auch hier bieten wir Ihnen günstige Tarife, die genau auf Ihre Bedürfnisse zugeschnitten sind. Natürlich beraten wir Sie auch gerne in Sachen Finanzierung.
                        </p>
                    </div>

                    <button type="button" class="collapsible">Reparatur, Wartung und Gebrauchtgeräte aller Marken!</button>
                    <div class="content">
                        <p><b>Erfahrung ist durch nichts zu ersetzen</b></p>
                        <p>
                            Der HARO Gabelstapler Service hat sich spezialisiert auf die Marken Hyster, Linde, Still, Jungheinrich, Yale, Toyota und TCM, wir reparieren und warten aber alle Geräte und Modelle, unabhängig vom Hersteller. Ob Gabelstapler, Anbaugeräte oder Kehrmaschinen etc, unsere Mitarbeiter werden Ihr Problem lösen.<br/>
                            Wir haben ständig eine große Auswahl an Gebrauchtgeräten einsatzbereit vor Ort.
                        </p>
                    </div>

                </div>
            </td>
        </tr>
    </table>
    

    



    <div class="jumbotron jumbotronbg">
        <a href="/Home/Service/">
            <div class="col-md-4 tableborder">
                <center>
                    Service<br />
                    <img src="~/Content/Images/Service.png" style="width:140px;" /><br />
                        <p style="font-size:0.4em;">Werkstatt/Ersatzteile</p>
                </center>
            </div>
        </a>

        <div class="spacer">&nbsp;</div>

        <a href="/Home/Stapler/">
            <div class="col-md-4 tableborder">
                <center>
                    Stapler<br />
                    <img src="~/Content/Images/Stapler.png" style="width:160px;" /><br />
                        <p style="font-size:0.4em;">Neu/Gebraucht/Zubehör</p>
                </center>
            </div>
        </a>
        
        <div class="spacer">&nbsp;</div>
        <a href="/Home/Wir/">
            <div class="col-md-4 tableborder">
                <center>
                    Über uns<br />
                    <img src="~/Content/Images/Team.png" style="width:150px;" /><br />
                    <p style="font-size:0.4em;">Wir stellen uns vor</p>
                </center>
            </div>
        </a>
</div>

        
<script>

    var coll = document.getElementsByClassName("collapsible");
    var i;
    var aktuell;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            hideAll();
            this.classList.toggle("active");

            if (aktuell != null) {
                aktuell.classList.toggle("active");
            }
            aktuell = this;

            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    function hideAll() {
        var coll = document.getElementsByClassName("content");
        
        for (i = 0; i < coll.length; i++) {
            coll[i].style.display = "none";
        }
    }
</script>