@{
    ViewBag.Title = "Leihgeräte";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Leihgeräte</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Nicht immer lohnt es sich, ein Gerät zu kaufen, ob neu oder gebraucht. Sie benötigen ein Gerät für Bauvorhaben, Bühnenaufbau, Messebau... Sie können bei uns Geräte für alle Zwecke und jeden Zeitraum mieten. So müssen Sie sich auch nicht um Wartung oder Instandhaltung kümmern.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Ob nun für einen Tag, eine Woche, einen Monat oder länger. Wir bringen den Stapler und holen ihn auch wieder ab.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Stapler und Geräte für den 'normalen Einsatzzweck' bis etwa 5 Tonnen haben wir in Weilerswist vor Ort. Wie bei den gebrauchten Geräten verfügen wir auch hier über ein Partnernetzwerk. Auch hier gilt, dass es fast nichts gibt, was wir nicht realisieren könnten.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">Sprechen Sie uns einfach an.</td>
        </tr>
    </table>

</div>
