@{
    ViewBag.Title = "Service";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Werkstatt/" class="linkSecondLevel">Werkstatt</a><a href="/Home/Ersatzteile/" class="linkSecondLevel">Ersatzteile</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Ein Service für alle Marken, aus einer Hand</h2>
                Konzentrieren Sie sich voll auf Ihr Tagesgeschäft, wir kümmern uns um den vorschriftsmäßigen Zustand Ihrer Geräte wie folgt:
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%" valign="top"><img src="~/Content/Images/van.jpg"/></td>
            <td width="33%" valign="top">
                <ul>
                    <li>Wartung und UVV Prüfung</li>
                    <li>Reparaturen</li>
                    <li>Abgastest</li>
                    <li>Gasprüfung</li>
                    <li>Batteriedienst/Pflege/Wartung</li>
                    <li>Umbauten nach Kundenwunsch</li>
                    <li>Fahrerschulung</li>
                    <li>Reifenservice mit eigener Presse</li>
                </ul>
            </td>
            <td width="33%" valign="top">
                <ul>
                    <li>Ersatzteile / Zubehörversorgung über Nacht, bei Bestellungen bis 15:00 Uhr.</li>
                    <li>Anbaugeräte, Reparatur / Wartung</li>
                    <li>Terminüberwachung  UVV/Wartung</li>
                    <li>Mietgeräte</li>
                    <li>Fullservice</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <p>
                Der HARO Gabelstapler Service hat sich spezialisiert auf die Marken "Hyster, Linde, Still, Jungheinrich, Yale, Toyota und TCM", wir reparieren und warten aber alle Geräte und Modelle, unabhängig vom Hersteller. Ob Gabelstapler, Anbaugeräte oder Kehrmaschinen etc.
                </p>
                <p>
                    Ihr Vorteil: <b>Ein Ansprechpartner für alle Geräte, daher auch schnelle Lösungen.</b>
                </p>
                <p>
                    Bei der Suche nach den passenden Flurförderzeugen helfen wir Ihnen. Unser Mitarbeiter bespricht mit Ihnen vor Ort Ihre Situation und Ihren Bedarf. Nach der Situationsanalyse erstellt er ein auf Ihr Unternehmen zugeschnittenes Konzept.<br/>
                    Einen Stapler kauft man nicht spontan und selten 'von der Stange'. Wir beraten Sie und berücksichtigen dabei die für Sie relevanten Aspekte wie zum Beispiel Regalbreite, Auslastung der Förderzeuge, örtliche Begebenheiten bei Ihnen vor Ort, Hygienevorschriften und vieles mehr... 
                </p>
                <p>Treten Sie einfach mit uns in Kontakt!</p>
            </td>
        </tr>

    </table>

</div>
