@{
    ViewBag.Title = "Stapler";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Gebrauchte/" class="linkSecondLevel">Gebrauchtgeräte</a><a href="/Home/Zubehoer/" class="linkSecondLevel">Zubehör</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Hyster-Stapler vom Vertragshändler</h2>
                
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%" valign="top"></td>
            <td width="33%" valign="top">
                
            </td>
            <td width="33%" valign="top">
               
            </td>
        </tr>
        

    </table>

</div>
