@{
    ViewBag.Title = "Stapler";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Gebraucht/" class="linkSecondLevel">Gebrauchtgeräte</a><a href="/Home/Zubehoer/" class="linkSecondLevel">Zubehör</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Stapler vom Fachmann</h2>
            </td>
        </tr>


        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" valign="top">
                <b>Situationsanalyse bei Ihnen im Betrieb</b><br/>Wir helfen, den optimalen Stapler zu finden
                Wir beraten Sie, welche Flurförderzeuge in Ihrem Unternehmen am effizientesten einzusetzen sind, ob Diesel-, Treibgas oder Elektroantrieb. Gerne kommen unsere Mitarbeiter zu Ihnen und besprechen mit Ihnen vor Ort Ihre Situation und Ihren Bedarf. Nach der Situationsanalyse erstellen wir ein auf Ihr Unternehmen zugeschnittenes Konzept, das alle Gabelstapler-Marken neutral berücksichtigt.
                <br /><br/>
                Ob Linde, Still, Jungheinrich, Hyster, Yale oder Hangcha, neu oder als überholtes Gebrauchtgerät. Wir beraten Sie gerne, welches Gerät am besten zu Ihren Bedürfnissen und/oder in Ihr Budget passt.<br /><br />
            </td>
        </tr>
        

    </table>

</div>
