@{
    ViewBag.Title = "Team";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Unser Team</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
  

    </table>

</div>
