@{
    ViewBag.Title = "Hyster";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Toyota bei HARO Stapler</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Toyota – dieser Markenname steht für Qualität und weltweiten Erfolg. Das erfolgreiche Unternehmen ist, neben seiner Marktführerposition im KFZ-Segment, auch der größte Anbieter für Flurförderzeuge.
                Als zuverlässiger Partner in dem Segment Lagertechnik führt HARO Stapler am Firmensitz in Weilerswist, unweit von Köln, neben zahlreichen anderen Qualitätsmarken, auch Toyota Stapler.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                HARO Stapler versteht sich dabei als Full-Service-Anbieter im Bereich Vermietung, Verkauf, Reparatur und Wartung von hochwertigen Staplern und Hubwagen.<br />

            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Schubmaststapler von Toyota – ideal für Innenräume</b><br />
                Schubmaststapler, auch Seitsitzstapler genannt, eignen sich vor allem für den innerbetrieblichen Transport von sperrigen Lasten. Schubmaststapler sind sowohl freitragend, als auch radunterstützend und verfügen ausschließlich über Elektroantriebe.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Optimale Raumnutzung – der Schmalgangstapler von Toyota</b><br />

                Schmalgangstapler ermöglichen auf sehr engen Raum eine möglichst hohe Flächennutzung. Die um 90 Grad zur Fahrtrichtung gedrehte Gabel kann seitlich ausgefahren werden und Paletten und Ware so ein- und aussortieren. Um für ein optimales Blickfeld zu sorgen bewegt sich die Führerkabine in der Version „Man-up“ zusammen mit der Gabel. In dem Modell „Man-down“ ist die Führerkabine fest verankert.<br /><br />

                Mit einer Hubhöhe von bis zu 14, 8 Meter ist der Stapler von Toyota in der Lage, bis zu 1, 5 Tonnen auf bis zu 1, 46 Meter schmalen Gängen zu transportieren – und das ohne am Fahrkomfort zu sparen.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Toyota – dieser Markenname steht für Qualität und weltweiten Erfolg. Das erfolgreiche Unternehmen ist, neben seiner Marktführerposition im KFZ-Segment, auch der größte Anbieter für Flurförderzeuge.
                Als zuverlässiger Partner in dem Segment Lagertechnik führt HARO Stapler am Firmensitz in Weilerswist, unweit von Köln, neben zahlreichen anderen Qualitätsmarken, auch Toyota Stapler.
            </td>
        </tr>

        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <b>Unsere Leistungen</b></br>
                HARO überzeugt mit umfassenden Leistungen. Wir arbeiten schnell und termingetreu, damit das Tagesgeschäft unserer Kunden ungestört erfolgen kann.<br /><br />
                Unsere Leistungen umfassen:<br />
                <ul>
                    <li>UVV Prüfung</li>
                    <li>Reparaturen</li>
                    <li>Abgastest und Gasprüfung</li>
                    <li>Wartung</li>
                    <li>Umbauten nach Kundenwunsch</li>
                    <li>Fahrerschulung</li>
                    <li>Reifenservice</li>
                    <li>Ersatzteile / Zubehörversorgung über Nacht</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                HARO steht für qualitative Maschinen und exzellenten Kundenservice. Neben den hochwertigen Staplern von Toyota bieten wir außerdem Stapler der Marken <a href="/Home/Linde/">Linde</a>, <a href="/Home/Still/">Still</a>, <a href="/Home/Jungheinrich/">Jungheinrich</a>, <a href="/Home/Yale/">Yale</a>, <a href="/Home/HC/">HC</a>, <a href="/Home/Hyster/">Hyster</a> und vielen mehr an. Gerne beraten wir Sie persönlich oder vereinbaren einen Termin.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Kontaktieren Sie uns telefonisch unter 02254/ 60 12 94 oder für unser Service Niederlassung in Köln unter 0221/ 422 90 132. Per Mail sind wir unter info@haro-stapler.de oder direkt über unser <a href="/Home/Kontakt/">Kontaktformular</a> zu erreichen. Unseren KFZ Mechaniker Meister Armin Hack erreichen Sie direkt unter <a href="mailto:hack@haro-stapler.de">hack@haro-stapler.de</a>.
</td>
        </tr>
    </table>

</div>

