@{
    ViewBag.Title = "Werkstatt";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Werkstatt/" class="linkSecondLevel">Werkstatt</a><a href="/Home/Ersatzteile/" class="linkSecondLevel">Ersatzteile</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Werkstatt</h2>
            </td>
        </tr>

        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Nicht immer ist es möglich, die Geräte vor Ort zu reparieren. Dann bringen wir die Geräte mit unserem LKW in unsere Werkstatt nach Weilerswist. Dort findet sich auf über 300 Quadratmetern alles, was man für eine fachgerechte Reparatur benötigt.<br/><br/>
                Neben einer hydraulischen Presse, um Lager einzupressen oder Bandagenbereifungen aufzuziehen findet sich alles, um auch kleinere Ersatzteile selbst herstellen zu können. Mit einer Drehbank, einer großen Säulenbohrmaschine und diversen Schweissgeräten lässt sich eine Menge realisieren.<br/><br/>
                Zum einfach Ausbau von Motoren und Batterien verfügen wir über einen Deckenkran, zwei Hebebühnen mit maximal 10 Tonnen Belastbarkeit erlauben den Zugriff auch zu weniger zugänglichen Bauteilen.<br/> 
                
            </td>
        </tr>

    </table>

</div>
