@{
    ViewBag.Title = "Wir über uns";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Team/" class="linkSecondLevel">Unser Team</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Wir stellen uns vor</h2>
                
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td width="33%" valign="top"></td>
            <td width="33%" valign="top">
                
            </td>
            <td width="33%" valign="top">
               
            </td>
        </tr>
        

    </table>

</div>
