@{
    ViewBag.Title = "Hyster";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Yale bei HARO Stapler</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>




        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                HARO steht für qualitative Maschinen und exzellenten Kundenservice. Neben den hochwertigen Staplern von Yale bieten wir außerdem Stapler der Marken <a href="/Home/Linde/">Linde</a>, <a href="/Home/Still/">Still</a>, <a href="/Home/Toyota/">Toyota</a>, <a href="/Home/Jungheinrich/">Jungheinrich</a>, <a href="/Home/HC/">HC</a>, <a href="/Home/Hyster/">Hyster</a> und vielen mehr an. Gerne beraten wir Sie persönlich oder vereinbaren einen Termin.
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                Kontaktieren Sie uns telefonisch unter 02254/ 60 12 94 oder für unser Service Niederlassung in Köln unter 0221/ 422 90 132. Per Mail sind wir unter info@haro-stapler.de oder direkt über unser <a href="/Home/Kontakt/">Kontaktformular</a> zu erreichen. Unseren KFZ Mechaniker Meister Armin Hack erreichen Sie direkt unter <a href="mailto:hack@haro-stapler.de">hack@haro-stapler.de</a>.
            </td>
        </tr>
    </table>

</div>

