@{
    ViewBag.Title = "Zubehör";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Gebrauchte/" class="linkSecondLevel">Gebrauchtgeräte</a><a href="/Home/Zubehoer/" class="linkSecondLevel">Zubehör</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Zubehör, Anbaugeräte</h2>

            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <p>
                    In der Regel beschränkt sich die Verwendung eines Staplers darauf, Lasten zu heben, zu senken und zu bewegen. Es exisitiert aber eine Vielzahl an Anbaugeräten für die verschiedensten Zwecke.
                </p>
                <p>
                    Papierrollen müssen bewegt, gedreht werden. Flüssigkeit, Schüttgut muss nach vorner oder zur Seite gekippt, Behälter aufgenommen und abgekippt werden. Es gibt Anbaugeräte für nahezu jeden Zweck.
                </p>
                <p>
                    Ein wichtiger Aspekt dabei ist die richtige Auswahl des Staplers selbst. Der Lastschwerpunkt verändert sich und natürlich sinkt auch die maximale Tragfähigkeit wegen des Eigengewichts der Anbauteile. Unsere Mitarbeiter der Beratung besuchen Firmenschulungen der Hersteller und sind mit den meisten Besonderheiten vertraut.
                </p>
            </td>
        </tr>

        <tr>
            <td width="33%">&nbsp;</td>
            <td width="33%">&nbsp;</td>
            <td width="33%">&nbsp;</td>
        </tr>

        <tr>
            <td valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Gabeln und Gabelzubehör</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
            <td valign="top"><img src="~/Content/Images/Mehrfachseitenschieber.jpg" width="350" style="margin:5px" /></td>
        </tr>

        <tr><td colspan="3">&nbsp;</td></tr>

        <tr>
            <td valign="top"><img src="~/Content/Images/Drehgeraete.jpg" width="350" style="margin:5px" /></td>
            <td valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Drehen und Kippen</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
        </tr>

        <tr><td colspan="3">&nbsp;</td></tr>

        <tr>
            <td width="66%" valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Behälter</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
            <td width="33%" valign="top"><img src="~/Content/Images/behaelter.jpg" width="350" style="margin:5px" /></td>
        </tr>

        <tr><td colspan="3">&nbsp;</td></tr>

        <tr>
            <td valign="top"><img src="~/Content/Images/Klammergeraete.jpg" width="350" style="margin:5px" /></td>
            <td valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Klammern</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
        </tr>

        <tr><td colspan="3">&nbsp;</td></tr>

        <tr>
            <td valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Greifer und Zangen</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
            <td valign="top"><img src="~/Content/Images/Kartonklammern.jpg" width="350" style="margin:5px" /></td>
        </tr>

        <tr><td colspan="3">&nbsp;</td></tr>

        <tr>
            <td valign="top"><img src="~/Content/Images/Tragdorne.jpg" width="350" style="margin:5px" /></td>
            <td valign="top" colspan="2" style="padding:5px">
                <b class="headlineStart">Tragdorne</b><br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
        </tr>
    </table>

</div>
