@{
    ViewBag.Title = "Zubehör";
}

<div class="jumbotron">
    <table border="0" width="100%">
        <tr>
            <td colspan="3" align="right"><a href="/Home/Stapler/" class="linkSecondLevel">Stapler</a><a href="/Home/Gebraucht/" class="linkSecondLevel">Gebrauchtgeräte</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <h2 class="headlineStart">Zubehör, Anbaugeräte</h2>

            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <p>
                    In der Regel beschränkt sich die Verwendung eines Staplers darauf, Lasten zu heben, zu senken und zu bewegen. Es exisitiert aber eine Vielzahl an Anbaugeräten für die verschiedensten Zwecke.
                </p>
                <p>
                    Papierrollen müssen bewegt, gedreht werden. Flüssigkeit, Schüttgut muss nach vorner oder zur Seite gekippt, Behälter aufgenommen und abgekippt werden. Es gibt Anbaugeräte für nahezu jeden Zweck.
                </p>
                <p>
                    Ein wichtiger Aspekt dabei ist die richtige Auswahl des Staplers selbst. Der Lastschwerpunkt verändert sich und natürlich sinkt auch die maximale Tragfähigkeit wegen des Eigengewichts der Anbauteile. Unsere Mitarbeiter besuchen Schulungen der Hersteller und sind mit den meisten Besonderheiten vertraut.
                </p>
                <p>
                    <b>Mehrfachpalettengabeln</b><br />
                    Nicht alle Aufgaben lassen sich mit zwei Gablezinken erledigen, oder ließen sich mit mehr Zinken schneller erledigen. Sollten Ihre Lasten gleichförmigen Gewichts sein, können Sie bis zu acht Paletten gleichzeitig auf den LKW stellen.
                </p>
                <p>
                    <b>Klammergabeln</b><br />
                    Nicht immer ist alles sauber auf Paletten oder gar in Behältern untergebracht. Papierrollen, Holzstämme, Fässer, man könnte diese Liste runder oder zylinderförmiger Güter sicher noch weiter führen. Diese kann man nicht unterfahren, sondern muss sie mittels Greifer oder Zangen sichern und anheben.
                    Gerade beim Recycling müssen oft von Maschinen gepresste Ballen verschiedenster Größe sicher aufgenommen und bewegt werden.
                    Alle diese Einsatzgebiete erfordern verschiedenste Eigenschaften bei den eingesetzten Geräten. Sollte es eine Frage dazu geben, die wir nicht beantworten können, leiten wir gerne an einen unserer Partner aus der Branche weiter.
                </p>
                <p>
                    <b>Tragedorne</b><br />
                    Sie haben kurze Rohre oder Rollen, etwas in dieser Geometrie zu transportieren? Egal, ob Stahl, Teppich, Papier, Drahtrollen, Keramik, stabil oder eher empfindlich. Es gibt für alles eine spezielle Lösung, sei es eine zur besseren Sicht ausgeschnittenen Rückenplatte des Dorns oder spezielle Beschichtungen zum Schutz oder gegen das Verrutschen der Güter.<br />
                    Die Traglasten der Dorne reichen für fast alle Ansprüche bis weit über 40 Tonnen. Sie werden mit der Rückenplatte direkt an den Hubschlitten des Staplers montiert.
                </p>
                <p>
                    <b>Drehen, Kippen</b><br />
                    Müll aus der Halle fahren, Gitterboxen in der Produktion leeren. Aufnehmen und kippen, für alles gibt es eine Lösung, meistens sogar mehrere.
                </p>
                <p>
                    Egal was Sie in Ihrem Betrieb realisieren müssen, wir beraten Sie gerne.
                </p>
            </td>
        </tr>
    </table>

</div>
